extends ./layout.jade

block content
    h1!= message

    .teaser-box
        a(href="/d3", class="topmenu-link") d3
        p lorem ipsum...
    .teaser-box
        a(href="/react", class="topmenu-link") React js
    .teaser-box
        a(href="/map", class="topmenu-link") Map


