html
    head
        title!= title
        link(href="bower_components/bootstrap/dist/css/bootstrap.css", rel='stylesheet')
    body
        h1!= message

    canvas(id= "canvas1", width= "700", height= "500" style= "background-color: E5E5E5")
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/d3/d3.js")