doctype html
html
    head
        meta(charset='UTF-8')
        title!= title
        link(href="/bootstrap/dist/css/bootstrap.css", rel='stylesheet')
        link(href="/css/client.css", rel='stylesheet')
        block scripts
            script(src="/jquery/dist/jquery.js")
            script(src="/bootstrap/dist/js/bootstrap.js")
    body
        .container
            #react-test
            block content

        script(src="bundle.js")