html
    head
        title!= title
        link(href="/bootstrap/dist/css/bootstrap.css", rel='stylesheet')
        link(href="/client.css", rel='stylesheet')
        block scripts
            script(src="/jquery/dist/jquery.js")
            script(src="/bootstrap/dist/js/bootstrap.js")
            script(src="/d3/d3.js")
            script(src="/react/react.js")
    body
        .container
            .top-nav
                a(href="/", class="btn btn-primary") home
                a(href="/map", class="btn btn-primary") map
                a(href="/react", class="btn btn-primary") react
            block content

        script(src="/client.js")