head
    link(href="bootstrap/dist/css/bootstrap.css", rel='stylesheet')
    link(href="openlayers3/build/ol.css", rel='stylesheet')
    link(href="client.css", rel='stylesheet')
    block scripts
        script(src="jquery/dist/jquery.js")
        script(src="openlayers3/build/ol-debug.js")

body
    .left-nav
        .header
            h2!= message
        .content
            a(href="/", class="btn btn-primary") home
            a(href="/map", class="btn btn-primary") map
            button(id="import-gpx-btn", class="btn btn-default") import .gpx
            .coordinates
                h4!= coordmessage
    #map.map
    script(src="map-client.js")
