extends ./layout.jade

head
    link(href="openlayers3/build/ol.css", rel='stylesheet')
    link(href="client.css", rel='stylesheet')
    block scripts
        script(src="jquery/dist/jquery.js")
        script(src="bootstrap/dist/js/bootstrap.js")
        script(src="d3/d3.js")
        script(src="openlayers3/build/ol.js")



block content
    h1!= message
    #map.map
    script(src="map-client.js")
