#svg {
    border: 1px solid lightgrey;
}

.top-nav {
    background-color: lavender;
    margin-top: 8px;
    padding: 8px;
}

.top-nav a {
    margin-right: 5px;
}

circle {
    stroke-width: 1.5px;
}

line {
    stroke: #999;
}

.map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.left-nav {
    left: 10px;
    top: 70px;
    width: 275px;
    height: 600px;
    position: absolute;
    z-index: 2;
    -webkit-box-shadow: 3px 5px 4px 1px rgba(0,0,0,0.71);
    -moz-box-shadow: 3px 5px 4px 1px rgba(0,0,0,0.71);
    box-shadow: 3px 5px 4px 1px rgba(0,0,0,0.71);
}

.left-nav h2 {
    color: #7A7ACC;
    font-weight: bold;
    margin-top: 0;
    padding-left: 30px;
    padding-top: 12px;
}

.left-nav .header {
    background-color: #FFF5CC;
    height: 60px;
    margin-top: 0;
    border-bottom: 1px solid darkgray;
}

.left-nav {
    border: 1px solid darkgray;
    background-color: lavender;
    height: 520px;
}

.left-nav .content {
    margin: 8px;
    margin-top: 14px;
}

.left-nav .content a {
    margin-right: 10px;
}

.left-nav .content .coordinates {
    height: 250px;
}

.left-nav .content .coordinates p {
    padding: 10px;
    font-weight: bold;
}
