@font-face {
    font-family: OpenSansLight;
    src: url(fonts/OpenSans-Light.ttf);
}

h1 {
    font-family: OpenSansLight;
    color: rgb(75, 75, 75);
    font-size: 2.9em;
}

.teaser-box {
    height: 125px;
    width: 50%;
    padding: 4px;
    padding-left: 8px;
    margin-bottom: 20px;
    background-color: rgb(245, 245, 245);
    webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition:width 2s, height 2s, background-color 2s, transform 2s;
}

.teaser-box a {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 15px;
    font-size: 2.2em;

}

#svg {
    border: 1px solid lightgrey;
}

.top-nav {
    /*background-color: rgb(245, 245, 245);*/
    border-bottom: 3px solid rgb(145, 145, 145);
    margin-top: 8px;
    padding: 8px;
}

.top-nav a {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 15px;
    font-size: 2em;
}

circle {
    stroke-width: 1.5px;
}

line {
    stroke: #999;
}

.map {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.left-nav {
    left: 10px;
    top: 70px;
    width: 275px;
    height: 600px;
    position: absolute;
    z-index: 2;
    -webkit-box-shadow: 3px 5px 4px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 5px 4px 1px rgba(0,0,0,0.25);
    box-shadow: 3px 5px 4px 1px rgba(0,0,0,0.25);
}

.left-nav h2 {
    font-family: OpenSansLight;
    margin-top: 0;
    padding-left: 30px;
    padding-top: 12px;
}

.left-nav .header {
    background-color: rgb(238, 238, 238);
    height: 90px;
    margin-top: 0;
    border-bottom: 1px solid darkgray;
}

.left-nav {
    border: 1px solid darkgray;
    background-color: rgb(255, 255, 255);
    height: 520px;
}

.left-nav .content {
    margin: 8px;
    margin-top: 14px;
}

.left-nav .content a {
    margin-right: 10px;
}

.left-nav .content .coordinates {
    height: 250px;
}

.left-nav .content .coordinates p {
    padding: 10px;
    font-weight: bold;
}
